<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="topnav">
        <nav class="navbar navbar-expand-lg sticky-top navbar-light " style="background-color:white">
            <a class="navbar-brand" href="{% url 'homepage' %}"><span style="font-size:40px;"><i
                        class="fab fa-instagram"></i></span></a>
            <a class="nav-link" href="/admin"><span style="font-size:30px;"><i class="fas fa-user-cog"></i></span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="navbar-left">
            <ul id="navbar-list" class="navbar-nav mr-auto mt-2 mt-lg-0">
                {% if user.is_authenticated %}
                <li>
                    <a class="navbar-brand" href="{% url 'homepage' %}">Home </a>
                </li>
              
                <li>
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li>
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'update_profile' %}">Update Profile</a>
                </li>
                <li>
                    <a class="nav-link" href="{% url 'post_project' %}">Post Project</a>
                </li>
                <li>
                    <a class="nav-link" href="/accounts/logout">Log out</a>
                </li>
                {% else %}
                <li>
                    <a class="nav-link" href="/accounts/login">Login</a>
                </li>
                {% endif %}

                <!---- Adding a search form -->
                <div class="  navbar-right">


                </div>
        </div>
        <!---  Search form end -->
        </div>
        <div class="navbar-right">
            <form method="GET" class="navbar-form" role="search" , action="{% url 'search_project' %}">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Project" name="title">
                    <div class="input-group-btn">
                        <button class="btn btn-outline-info" type="submit">Search</button>

                    </div>
                </div>
            </form>
        </div>
        <!-- Another search form-->


    </nav>
</body>

</html>